html {
  font-family: 'Oswald', sans-serif;

}
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity:1;
}


.App {
  text-align: center;

}



#buttonbar {
  border-radius: 2rem;
  top:15rem;
  position: absolute;
  height: 20rem;
  width: 6rem;
  background-image: linear-gradient(to top left,  #556b2f , #759b29 );
  padding: 3rem;
  overflow: hidden;
  opacity: 0.9;
}


#atom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: 0px 0px 0 135px;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





#bio-content { 
  margin-top:6.4rem;
  border-radius: 1.7rem;
  background-image: linear-gradient(to top , #556b2f , #759b29 );
  color:white;
  padding:1rem;
  opacity: 0.9;
  box-shadow: 3.8px 2px 0px 0px #556b2f;
  height: 30rem;
  
}

#contact-content { 
  margin-top:6.4rem;
  border-radius: 1.7rem;
  background-image: linear-gradient(to top , #556b2f , #759b29 );
  color:white;
  padding:4rem;
  opacity: 0.9;
  box-shadow: 3.8px 2px 0px 0px #556b2f ;
  
}
#portfolio-content { 
  margin-top:1.2rem;
  border-radius: 1.7rem;
  background-image: linear-gradient(to top , #556b2f , #759b29 );
  color:white;
  padding-left:4rem;
  padding-right:4rem;
  opacity: 0.9;
  box-shadow: 3.8px 2px 0px 0px #556b2f ;
  height:56rem;
}

#component-content {
  background-image: linear-gradient(white, rgb(247, 210, 196));
  border-radius: 3rem;
  padding: 2rem;
  width: 100%;
  opacity: 1;
  font-size: 1rem;
  color: black;
}

#credly {
  opacity: 1;
  margin-top: -9rem;
  margin-left: 11rem;
  
}

#yeet {
  background-image: linear-gradient(white, rgb(247, 210, 196));
  border-radius: 3rem;
  padding: 3rem;
  width: 100%;
  opacity: 1;
  font-size: 1rem;
 
}

#portfolio-header {
  background-image: linear-gradient(white, rgb(247, 210, 196));
  border-radius: 1.4rem;
  padding: 0rem;
  width: 100%;
  opacity: 1;
  font-size: 1rem;
 
}

#project-card {
  background-image: linear-gradient(white,  white, rgb(247, 210, 196));
  border-radius: 1rem;
  width:100%;
}
#project-card-pupper {
  background-image: linear-gradient(white,  white, rgb(247, 210, 196));
  border-radius: 1rem;
  width:100%;
}

.within {
  opacity:1;
  font-size:9rem;
}

.buttonproperties{
 font-family: 'Oswald', sans-serif;
}

.Projectcard {
  max-width: 200px;
}